body {
  margin-top: 75px;
  padding-top: 15px;
  color: #4B4C53;
  background-color: #FaFaFa; }
  body > nav.navbar {
    background-color: #87D76B;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px; }

.fixed-panel {
  position: fixed;
  z-index: 10;
  top: 75px;
  right: 0;
  left: 0;
  padding-top: 15px;
  background-color: #FaFaFa; }

.panel-buscador {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 2px; }

.item {
  background: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #eee;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  display: block;
  height: 325px; }
  .item figure {
    min-height: 240px;
    text-align: center;
    vertical-align: middle; }
    .item figure img {
      bottom: 0;
      left: 0;
      margin: auto;
      max-height: 100%;
      max-width: 100%;
      /* position: absolute; */
      right: 0;
      top: 0;
      vertical-align: middle; }
  .item > h3 {
    font-size: 12px;
    font-weight: normal;
    margin: 0; }
  .item > p.price {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0; }
  .item > p.displayLocation {
    margin: 5px 0;
    color: #999;
    font-size: 9px; }

