<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CONFIG:AmbienteTest" value="S" />
  </appSettings>
  
  <connectionStrings>
    <add name="DbBusquedaVehiculos" connectionString="Server=localhost;Database=BusquedaVehiculos;User Id=sa;Password=123456;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>