<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings >
    <add key="CONFIG:AmbienteTest" value="N" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="DbBusquedaVehiculos" connectionString="Server=184.168.194.64;Database=BusquedaVehiculos;User Id=buscatuauto;Password=Gkm5$26n;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
  </system.web>

</configuration>
