<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings >
    <add key="CONFIG:AmbienteTest" value="S" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="DbBusquedaVehiculos" connectionString="Server=localhost;Database=BusquedaVehiculos;User Id=sa;Password=123456;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
  </system.web>
  
</configuration>
